<div class="cont background1">
   <div class="head" [class.inverthead]="mobile">
      <div class="row"> 
         <button class="btnfilter background" matRipple (click)="setFilters()">
            <span class="material-icons btnfilter_icon color3">filter_alt</span>
            <span class="btnfilter_text color2">Filtrar</span>
            <div class="btnfilter_actived bg_color" *ngIf="!filters_laoding && filters_actived">{{filters_actived}}</div>
            <mat-spinner class="loading_color" *ngIf="filters_laoding" strokeWidth="2" diameter="15" style="margin-left: 7px;"></mat-spinner>
         </button>
      </div>
   </div>
   <div class="body">
      <div class="bhead backcolor_light background" style="min-width: 660px;">
         <div class="title_head div70 color3" style="cursor: pointer;" matRipple (click)="seletedAll()">{{selection_all ? 'Desecelecionar' : 'Selecionar'}} todo</div>
         <div class="title_head div70 color3" matRipple>Imagen</div>
         <div title="Ordenar por Nombres" matRipple class="title_head_point div200 color3" style="min-width: calc(100% - 450px);">Nombres y apellidos<span class="material-icons iconorderhead" *ngIf="property == 'nombre'">{{order == 'asc' ? 'expand_more' : 'expand_less'}}</span></div>
         <div title="Ordenar por Cedula" matRipple class="title_head_point div150 color3">Cedula<span class="material-icons iconorderhead" *ngIf="property == 'codemp'">{{order == 'asc' ? 'expand_more' : 'expand_less'}}</span></div>
         <div title="Ordenar por Cedula" matRipple class="title_head_point div150 color3">Turno Actual<span class="material-icons iconorderhead" *ngIf="property == 'codemp'">{{order == 'asc' ? 'expand_more' : 'expand_less'}}</span></div>
      </div>
      <div class="bbody" style="min-width: 650px;">
         <div class="bitems" *ngFor="let user of users"> 
            <button class="subbitems" matRipple [class.seleted]="user.seleted" [disabled]="user.exits" (click)="seletedUser(user)"> 
               <div class="color1 div70 bhtext"></div>
               <div class="color1 div70 bhtext"><img [src]="user.imagen ? ('data:image/jpeg;base64,' + user.imagen) : ' ../../../assets/notprofile.jpg'" class="profile"></div>
               <div class="color1 div200 bhtext" style="min-width: calc(100% - 450px);">{{user.nombres | titlecase}}</div>
               <div class="color1 div150 bhtext">{{user.cedula}}</div>
               <div class="color1 div150 bhtext" *ngIf="!user.id_key && user.id_turn">Desde {{user.date_day_min}} hasta {{ user.date_day_max }}</div>
               <div class="color1 div150 bhtext" *ngIf="user.id_key && user.id_turn">Fijo</div>
               <div class="color1 div150 bhtext" *ngIf="!user.id_turn">Sin turno</div>
            </button>
            <mat-checkbox class="bitems_check" [disabled]="user.exits" [(ngModel)]="user.seleted" (change)="changeStatusUser(user)"></mat-checkbox>
         </div>
         <div class="Noregister" *ngIf="users.length == 0">No se encontraron registros</div>
      </div>
   </div>
   <div class="subhead">
      <span class="textinfo color1">{{users_selected.length}} empleados seleccionados / {{users.length}} empleados mostrados</span>
      <div class="row">
         <button class="btnnew bg_red" style="min-width: 110px;" matRipple (click)="unassign_turn()" [disabled]="users_selected.length == 0">Desasignar Turno</button>
         <button class="btnnew" style="min-width: 110px;" matRipple (click)="selected_turn()" [disabled]="users_selected.length == 0">Asignar Turno</button>
      </div>
   </div>
</div>