<div class="cont background1">
   <div class="head" [class.head_mobile]="mobile">
      <div class="profile" [class.profile_mobile]="mobile">
         <img src="../../../assets/notprofile.jpg" class="imagen" [class.imagen_mobile]="mobile">
      </div>
      <button class="options" [class.options_mobile]="mobile" matRipple [class.option_seleted]="view == 'info'">
         <span class="material-icons options_icon color3" [class.options_icon_mobile]="mobile" [class.text_color]="view == 'info'">badge</span>
         <span class="options_name color1" *ngIf="!mobile" [class.text_color]="view == 'info'">Informacion</span>
      </button>
   </div>
   <div class="body" [class.body_mobile]="mobile">
      <div class="subbody" *ngIf="view == 'info'">
         <div class="title color2">Información del biometrico</div>
         <div class="form" [formGroup]="form">
            <mat-form-field class="input">
               <mat-label>Nombres</mat-label>
               <input matInput formControlName="name" class="color1">
               <mat-error *ngIf="form.get('name')?.hasError('required')">Este campo es requerido</mat-error>
               <mat-error *ngIf="form.get('name')?.hasError('minlength')">Este campo no puede tener menos de 3 caracteres</mat-error>
               <mat-error *ngIf="form.get('name')?.hasError('maxlength')">Este campo no puede tener más de 50 caracteres</mat-error>
               <mat-error *ngIf="form.get('name')?.hasError('pattern')">Este campo solo puede contener letras y espacios</mat-error>
             </mat-form-field>
             <mat-form-field class="input">
               <mat-label>Contraseña (Opcional)</mat-label>
               <input matInput formControlName="password" class="color1">
               <mat-error *ngIf="form.get('password')?.hasError('pattern')">Este campo solo puede contener números</mat-error>
             </mat-form-field>
             <mat-form-field class="input">
               <mat-label>Tarjeta (Opcional)</mat-label>
               <input matInput formControlName="card" class="color1">
               <mat-error *ngIf="form.get('cad')?.hasError('pattern')">Este campo solo puede contener números</mat-error>
             </mat-form-field>
             <mat-form-field class="input">
               <mat-label>Tipo de usuario</mat-label>
               <mat-select formControlName="type">
                 <mat-option *ngFor="let x of types" [value]="x.codigo">{{x.nombre}}</mat-option>
               </mat-select>
               <mat-error *ngIf="form.get('type')?.hasError('required')">Este campo es requerido</mat-error>
            </mat-form-field>
            <mat-form-field class="input">
               <mat-label>Tipo de validación</mat-label>
               <mat-select formControlName="valid">
                  <mat-option *ngFor="let x of validation" [value]="x.codigo">{{x.nombre}}</mat-option>
               </mat-select>
               <mat-error *ngIf="form.get('type')?.hasError('required')">Este campo es requerido</mat-error>
             </mat-form-field>
         </div>
         <div class="buttons">
            <button class="btn color3" (click)="onNoClick()" [disabled]="loading">Cerrar</button>
            <button class="btn bg_color" (click)="save_info()" [disabled]="form.invalid">
               <span *ngIf="!loading">Actualizar</span>
               <mat-spinner *ngIf="loading" diameter="18" strokeWidth="3" class="loading_white"></mat-spinner>
            </button>
         </div>
      </div>
   </div>
</div>
